// nextflow.config
// Make sure the following steps were done prior to running the pipeline
// Create the following folders before proceeding
// main_dir, it could be named as the gseXXXXX
// Note: the directory has all snakecase letters, its a style thats chosen
// inside the main_dir a scripts folder and a subfolder 
// with in scripts named 01_pre_proc
// Ex:  mkdir -p gseXXXXX/scripts/01_pre_proc

// Change the HPC and Local params and process Defaults as needed

params {
  // Note: Container, main_dir and gse variables were set in execution script
  main_dir       = System.getenv("NF_MAIN_DIR")
  gse            = System.getenv("NF_GSE") 
  sif            = null

  // Paths
  proj_dir       = "${params.main_dir}/${params.gse}"
  data           = "${params.proj_dir}/data"
  fastq_dir      = "${params.proj_dir}/raw_fastq"
  res_dir        = "${params.proj_dir}/qc_results"
  log_dir        = "${params.proj_dir}/scripts/01_pre_proc/log"
  fastqc_reports = "${params.res_dir}/fastqc_reports"
  multiqc_res    = "${params.res_dir}/qc_res"

}

// -------- Container settings --------
singularity {
  enabled    = true
  autoMounts = true
}

// -------- Process Defaults (Change as needed)--------
process {
  cpus          = 4
  memory        = '8 GB'
  time          = '1h'
  errorStrategy = 'retry'
  maxRetries    = 1
  container     = params.sif

  withName: get_sra_ids {time   = '30m'; cpus   = 1; memory = '2 GB'}
  withName: download_sra {time   = '6h'; memory = '16 GB'}
  withName: run_multiqc {cpus   = 1; memory = '4 GB'}
  
}

// -------- LOCAL and HPC Profiles --------
profiles {

  // Workstation / laptop
  local {
    executor {
      name = 'local'
    }
    process {
      containerOptions = "--bind /mnt/myvolume"
    }
  }

  // SLURM HPC
  hpc {
    executor {
      name      = 'slurm'
      queueSize = 50
    }

    process {
      scratch = true
      clusterOptions = '--account=torch_pr_505_general'
      containerOptions = "--bind /scratch"
    }
  }
}

// -------- Paper trail --------
def trace_date = new java.util.Date().format('yyyy_MM_dd')

report {
  enabled   = true
  file      = "${params.log_dir}/report_${trace_date}.html"
  overwrite = true
}
timeline {
  enabled   = true
  file      = "${params.log_dir}/timeline_${trace_date}.html"
  overwrite = true
}
trace {
  enabled   = true
  file      = "${params.log_dir}/trace_${trace_date}.txt"
  overwrite = true
}